<p><%= alert %></p>

<h1>Connexion</h1>
<%= form_tag sessions_path do |form| %>
  <div class=”field”>
    <%= label_tag 'Votre adresse mail' %><br>
    <%= text_field_tag :email %><br>
  </div>
  <div class=”field”>
    <%= label_tag 'Mot de passe' %><br>
    <%= password_field_tag :password %>
  </div>
  <div class=”actions”><br>
    <%= submit_tag 'Se connecter', class:"btn btn-primary" %>
  </div>
<% end %>

<p><br><br>
  Pas de compte ? Cliquez ci-dessous, pour vous inscrire.<br>
  <%= link_to "S'inscrire", signup_path, class:"btn btn-primary" %>
</p>