<h1>Edition d'une catégorie professionelle</h1>


<%= bootstrap_form_for(@categ) do |f| %>
    <%= f.text_field :nature, label: "Catégorie" %>

    <%= f.number_field :deductibilite, append: "%", label: "Déductibilité légale maximum", help: "Ne pas confondre avec la part privée et professionnelle qui elle est indiquée lors de l'encodage de chaque frais professionnel" %>
    </br>
    <%= f.submit "Enregistrer", class: 'btn btn-primary' %>
<% end %>
</br>

<a href="<%= categs_path%>" class="btn btn-danger"><i class="material-icons">arrow_back</i> Retour</a>
