<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<h1>Vos revenus</h1>
<br>

<% u = current_user.email
if Revenu.find_by_user(u) == nil then
(1..12).each do |i|
p = Revenu.new
p.mois = i
p.revenuindep = 0
p.salaire = 0
p.user = u
p.save 
end
end %>


<br>
<% totalFPmois = [0,0,0,0,0,0,0,0,0,0,0,0,0] %>

<% Fraispro.all.each do |f| %>
     <% if f.user == current_user.email %>
         <% totalFPmois[f.date.strftime("%m").to_f] += f.montant %>
 <% end %>
  <% end %>
<%= timeline [
  ["Education Physique", "2009-09-23", "2015-06-31"],
  ["Kinésithérapie", "2015-09-23", "2018-06-31"],
  ["Code Learning", "2020-06-01", "2021-04-01"]
] %>
<%= area_chart @revenu.map { |revenu|
    {name: revenu.mois, data: revenu}
} %>


<table>
    <colgroup>
    <col class="dix" />
    <col class="trente" />
    <col class="trente" />
    <col class="trente" />
  </colgroup>
    <thead>
      <tr style= "text-align: right; font-size:24px; font-weight: bold">
        <th scope="col"><span style="float:right;">Mois</th>
        <th scope="col"><span style="float:right;">Frais pro</span></th>
        <th scope="col"><span style="float:right;">Recette Pro</span></th>
        <th scope="col"><span style="float:right;">Salaire versé</span></th>
      </tr>
    </thead>
    <tbody>
        <% id = 1 %>
        <% recetteProTot = 0 %>
        <% salaireTot = 0 %>
        <% @revenu.each do |f| %>
        <% if f.user == current_user.email %>
        <% @revenu = Revenu.find_by(mois: id, user: current_user.email) %>
        <tr>
            <td><span style= "float:right; font-size:18px; font-weight: bold"><%= Date::MONTHNAMES[f.mois] %></span></td>
            <td><span style= "float:right;"><%= number_to_currency(totalFPmois[id], :unit => "€", locale: :fr, precision:1) %></span></td>
            <td><span style= "float:right;"><%= form_for @revenu do |f| %><%= f.number_field :revenuindep %><%= f.submit "OK" %><% end %></span></td>
            <td><span style= "float:right;"><%= form_for @revenu do |f| %><%= f.number_field :salaire %><%= f.submit "OK" %><% end %></span></td>
        </tr>
        <% recetteProTot += f.revenuindep %>
        <% salaireTot += f.salaire %>
        <% id += 1 %>
        <% end %>
        <% end %>

        <tr style= "text-align: right; font-size:24px; font-weight: bold">
            <td>Total</td>
            <td><%= number_to_currency(totalFPmois.sum, :unit => "€", locale: :fr, precision:0)%></td>
            <td><%= number_to_currency(recetteProTot, :unit => "€", locale: :fr, precision:0)%></span></td>
            <td><%= number_to_currency(salaireTot, :unit => "€", locale: :fr, precision:0)%></span></td>
        </tr>
</tbody>
</table>
