<p id="notice"><%= notice %></p>

<p>
  <strong>Nature:</strong>
  <%= @fraispro.nature %>
</p>

<p>
  <strong>Facture:</strong>
  <%= @fraispro.facture %>
</p>

<p>
  <strong>Compte:</strong>
  <%= @fraispro.compte %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @fraispro.bank %>
</p>

<p>
  <strong>Date:</strong>
  <%= @fraispro.date %>
</p>

<p>
  <strong>Montant:</strong>
  <%= @fraispro.montant %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fraispro.description %>
</p>

<p>
  <strong>Deductibilite:</strong>
  <%= @fraispro.deductibilite %>
</p>

<p>
  <strong>Privepro:</strong>
  <%= @fraispro.privepro %>
</p>

<p>
  <strong>Total:</strong>
  <%= @fraispro.total %>
</p>

<%= link_to 'Edit', edit_fraispro_path(@fraispro) %> |
<%= link_to 'Back', fraispros_path %>
